<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <div class="room-wrapper">
        <%= link_to @room.name, root_path %>
          <%if current_user.genre == '生徒' %>
            <%if @room.tasks.present?%>
              <div><%=link_to "連絡",new_room_task_path(@room), class:"qs5 red" %></div>
            <%else%>
              <div><%=link_to "連絡",new_room_task_path(@room), class:"qs5 blue" %></div>
            <%end%>
          <%elsif current_user.genre == '教員'%>
            <div><%=link_to "連絡",new_room_task_path(@room), class:"qs5" %></div>
          <%end%>


    <%@tasks.each do |task|%>
    <%if task.deadline.strftime('%m%d').to_i <= DateTime.current.since(1.days).strftime('%m%d').to_i%> 
    <span class="envelop-red"><i class="far fa-envelope"></i></span>
    <%elsif task.deadline.strftime('%m%d').to_i > DateTime.current.since(1.days).strftime('%m%d').to_i%>
     <span class="envelop-blue"><i class="far fa-envelope"></i></span>
    <%end %> 
    <%end%>
    </div>

    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
    <% if current_user.genre == "教員"%>
    <%=button_to "ルーム削除", room_path(@room), method: :delete %>
    <% end %>
    </div>
  </div>
</div>

<div class="messages">
  <div id="image-list"></div>
   <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: @message, class: 'form', local: true do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <div class="form-input2">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image,placeholder: "画像のURL" ,class: 'hidden' %>
    </label>
      <%= hidden_field_tag :id,@room.id %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
  <%= image_tag @message.image, id: 'image' if @message.image.present? %> 
<% end %>

<script>
document.addEventListener('DOMContentLoaded', function(){
    const ImageList = document.getElementById('image-list');
  
    document.getElementById('message_image').addEventListener('change', function(e){
      const file = e.target.files[0];
      const blob = window.URL.createObjectURL(file);
      const imageElement = document.createElement('div');
      const blobImage = document.createElement('img');
      blobImage.setAttribute('src', blob);
      imageElement.appendChild(blobImage);
      ImageList.appendChild(imageElement);
    });
  });
</script>