<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= message.user.name %>
    </div>
    <div class="message-date">
      <%=message.created_at.strftime('%m/%d %H:%M') %>
    </div>
    <div class="message-date">
      【質問<%= message.comments.count %>個】
    </div>
    <div>
    <% if current_user.genre == "教員" %>
      <p>
        <%= button_to room_message_path(@room.id, message.id) ,method: :delete, class: "delete-button" do %>
        <i class="fas fa-trash"></i>
        <% end %>
      </p>
      <% elsif user_signed_in? && current_user.id == message.user_id %>
      <p>
        <%= button_to room_message_path(@room.id, message.id), method: :delete, class: "delete-button" do %>
        <i class="fas fa-trash"></i>
        <% end %>
      </p>
    <% end %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%=link_to message.content, new_message_comment_path(message) %>
    </div>
     <%= link_to  new_message_comment_path(message) do %>
     <%=image_tag message.image.variant(resize: '400x400'), class: 'message-image' if message.image.attached? %>
     <%end%>

  </div>
</div>