<div class="side-bar-header">
  <div class="header-name">
  <% if current_user.genre == "生徒" %>
    <%= link_to current_user.name+"（生徒）", edit_user_path(current_user) %>
   <%= render "layouts/level" %>
  <% else %>
    <%= link_to current_user.name+"（教員）", edit_user_path(current_user) %>
  <% end %>
  </div>
  <% if current_user.genre == "生徒" %>
  <%=link_to '記録',new_user_diary_path(current_user.id),class:"diary"%>
  <% end %>
  <div class="create-room">
  <% if current_user.genre == "教員" %>
    <%=link_to "ルーム作成", new_room_path %>
  <%end%>
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
         <%=link_to room.name, room_messages_path(room) %>
         <%=link_to room_path(room) do %> 
         <p class="room-num">(<%= room.users.count-1 %>名)</p>
         <% end %>
      </div>
    </div>
    <%end%>
  <div class="room-members">  

  </div>
</div>
