<div class="side-bar-header">
  <div class="header-name">
  <% if current_user.genre == "生徒" %>
    <%= link_to current_user.name+"（生徒）", edit_user_path(current_user) %>
  <% else %>
    <%= link_to current_user.name+"（教員）", edit_user_path(current_user) %>
  <% end %>
    <div class="user-level">
    <%if current_user.diary_ids.length >= 200%>
    <div>レベル20></div>
    <%elsif current_user.diary_ids.length >= 187%>
    <div>レベル19</div>
    <%elsif current_user.diary_ids.length >= 174%>
    <div>レベル18</div>
    <%elsif current_user.diary_ids.length >= 161%>
    <div>レベル17</div>
    <%elsif current_user.diary_ids.length >= 148%>
    <div>レベル16</div>
    <%elsif current_user.diary_ids.length >= 135%>
    <div>レベル15</div>
    <%elsif current_user.diary_ids.length >= 122%>
    <div>レベル14</div>
    <%elsif current_user.diary_ids.length >= 109%>
    <div>レベル13</div>
    <%elsif current_user.diary_ids.length >= 99%>
    <div>レベル12</div>   
    <%elsif current_user.diary_ids.length >= 89%>
    <div>レベル11</div>  
    <%elsif current_user.diary_ids.length >= 79%>
    <div>レベル10</div>  
    <%elsif current_user.diary_ids.length >= 69%>
    <div>レベル9</div>  
    <%elsif current_user.diary_ids.length >= 60%>
    <div>レベル8</div>  
    <%elsif current_user.diary_ids.length >= 51%>
    <div>レベル7</div>  
    <%elsif current_user.diary_ids.length >= 42%>
    <div>レベル6</div>  
    <%elsif current_user.diary_ids.length >= 33%>
    <div>レベル5</div>  
    <%elsif current_user.diary_ids.length >= 24%>
    <div>レベル4</div>  
    <%elsif current_user.diary_ids.length >= 15%>
    <div>レベル3</div>   
    <%elsif current_user.diary_ids.length >= 10%>
    <div>レベル2</div>   
    <%elsif current_user.diary_ids.length >= 5%>
    <div>レベル1</div>   
    <%elsif current_user.diary_ids.length = 0%>
    <div>レベル0</div>   
    <%end%>
  </div>
  </div>
  <% if current_user.genre == "生徒" %>
  <%=link_to '記録',new_user_diary_path(current_user.id),class:"diary"%>
  <% end %>
  <div class="create-room">
  <% if current_user.genre == "教員" %>
    <%=link_to "ルーム作成", new_room_path %>
  <%end%>
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
         <%=link_to room.name, room_messages_path(room) %>
         <%=link_to rooms_students_path do %> 
         <p class="room-num">(<%= room.users.count%>名)</p>
         <% end %>
      </div>
    </div>
    <%end%>
  <div class="room-members">  

  </div>
</div>
