<div class="side-bar-header">
  <div class="header-name">
  <% if current_user.genre == "生徒" %>
    <%= link_to current_user.name, edit_user_path(current_user) %>（生徒）
  <% else %>
    <%= link_to current_user.name, edit_user_path(current_user) %>（教員）
  <% end %>
  </div>
  <%=link_to '日記',root_path,class:"diary"%>
  <div class="create-room">
  <% if current_user.genre == "教員" %>
    <%=link_to "ルーム作成", new_room_path %>
  <%end%>
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
         <%=link_to room.name, room_messages_path(room) %>
           <p class="room-num">(<%= room.users.count%>名)</p>
      </div>
    </div>
    <%end%>
</div>
