   <%level_count = current_user.diary_ids.length + current_user.comment_ids.length*1.2 + current_user.response_ids.length*1.5%>
   
   <div class="current-info">
      <div><%=current_user.name%>уБХуВУ(<%=level_count.round%>уГЭуВдуГ│уГИ)</div>
      <div><%=render "layouts/level2" %></div>
      <%if level_count < 15 %>
      <div>цмбуБоуГмуГЩуГлуБ╛уБз<%= 15 - level_count.to_i%>уГЭуВдуГ│уГИ</div>
      <%end%>
   </div>

  <ul class="post-sums">
    <%if current_user.diary_ids.count <= level_count/3 %>
      <li>хнжч┐ТуБошиШщМ▓<span><%= current_user.diary_ids.count%></span>хАЛуААх░СуБкуБД</li>
    <%elsif current_user.diary_ids.count > level_count/3%>
      <li>хнжч┐ТуБошиШщМ▓<span><%= current_user.diary_ids.count%></span>хАЛуАА<span class="good2">ЁЯСН</span></li>
    <%else%>
      <li>хнжч┐ТуБошиШщМ▓<span><%= current_user.diary_ids.count%></span>хАЛ</li>
    <%end%>

    <%if current_user.comment_ids.count <= level_count/3 %>
      <li>хнжч┐ТуБошиШщМ▓<span><%= current_user.comment_ids.count%></span>хАЛуААх░СуБкуБД</li>
    <%elsif current_user.comment_ids.count > level_count/3%>
      <li>хнжч┐ТуБошиШщМ▓<span><%= current_user.diary_ids.count%></span>хАЛуАА<span class="good2">ЁЯСН</span></li>
    <%else%>
      <li>хнжч┐ТуБошиШщМ▓<span><%= current_user.comment_ids.count%></span>хАЛ</li>
    <%end%>

    <%if current_user.response_ids.count <= level_count/3 %>
      <li>хнжч┐ТуБошиШщМ▓<span><%= current_user.response_ids.count%></span>хАЛуААх░СуБкуБД</li>
    <%elsif current_user.response_ids.count > level_count/3%>
      <li>хнжч┐ТуБошиШщМ▓<span><%= current_user.diary_ids.count%></span>хАЛуАА<span class="good2">ЁЯСН</span></li>
    <%else%>
      <li>хнжч┐ТуБошиШщМ▓<span><%= current_user.response_ids.count%></span>хАЛ</li>
    <%end%>
  <ul>