<div class="main-wrapper">
<div class="wrapper1">
<div class="grade" id="first">１年</div>
<div class="class-number hidden"><span>１組</span></div>
<div class="lists">
<% @users.each do |user|%>
<% @login_time = user.current_sign_in_at.strftime('%m月%d日 %H:%M')%>
    <div class="list hidden">
        <% if user.grade == 1 && user.class_number == 1%>
        <%= user.student_number%>番.
        <%=link_to new_user_diary_path(user) do %>
        <span class="user-name"><%= user.name%></span>
        <% end %>
        <%=@login_time%>
        <% end %>
    </div>
    <% end %>
</div>

<div class="class-number hidden"><span>２組</span></div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list hidden">
        <% if user.grade == 1 && user.class_number == 2%>
        No.<%= user.student_number%>
        <%=link_to new_user_diary_path(user) do %>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
    <% end %>
</div>

<div class="class-number hidden"><span>３組</span></div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list hidden">
        <% if user.grade == 1 && user.class_number == 3%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
    <%end%>
</div>


<div class="class-number hidden"><span>４組</span></div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list hidden">
        <% if user.grade == 1 && user.class_number == 4%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
        <%end%>
</div>

<div class="class-number hidden"><span>５組</span></div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list hidden">
        <% if user.grade == 1 && user.class_number == 5%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
        <%end%>
</div>

<div class="class-number hidden"><span>６組</span></div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list hidden">
        <% if user.grade == 1 && user.class_number == 6%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
    <%end%>
</div>
</div>


<div class="wrapper2">
<div class="grade" id="second">２年</div>
<div class="class-number2"><span>１組</span></div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list2 hidden">
        <% if user.grade == 2 && user.class_number == 1%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
     <%end%>
</div>


<div class="class-number2"><span>２組</span></div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list2 hidden">
        <% if user.grade == 2 && user.class_number == 2%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
        <%end%>
</div>


<div class="class-number2"><span>３組</span></div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list2 hidden">
        <% if user.grade == 2 && user.class_number == 3%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
        <%end%>
</div>


<div class="class-number2"><span>４組</span></div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list2 hidden">
        <% if user.grade == 2 && user.class_number == 4%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
        <%end%>
</div>


<div class="class-number2"><span>５組</span></div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list2 hidden">
        <% if user.grade == 2 && user.class_number == 5%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
        <%end%>
</div>


<div class="class-number2"><span>６組</span></div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list2 hidden">
        <% if user.grade == 2 && user.class_number == 6%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
    <% end %>
</div>

</div>




<div class="wrapper3">
<div class="grade" id="third">３年</div>
<div class="class-number3">１組</div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list3 hidden">
        <% if user.grade == 3 && user.class_number == 1%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
    <% end %>
</div>

<div class="class-number3">２組</div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list3 hidden">
        <% if user.grade == 3 && user.class_number == 2%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
    <% end %>
</div>



<div class="class-number3">３組</div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list3 hidden">
        <% if user.grade == 3 && user.class_number == 3%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
<% end %>
</div>


<div class="class-number3">４組</div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list3 hidden">
        <% if user.grade == 3 && user.class_number == 4%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
<% end %>
</div>


<div class="class-number3">５組</div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list3 hidden">
        <% if user.grade == 3 && user.class_number == 5%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
    <% end %>
</div>



<div class="class-number3">６組</div>
<div class="lists">
<% @users.each do |user|%>
    <div class="list3 hidden">
        <% if user.grade == 3 && user.class_number == 6%>
        <%=link_to new_user_diary_path(user) do %>
        No.<%= user.student_number%>
        <%= user.name%>
        <%end%>
        <%=@login_time%>
        <% end %>
    </div>
    <% end %>
</div>

</div>
</div>


<script>
    let grade1 = document.getElementById('first');
    let members = document.querySelectorAll('.list');
  
        first.addEventListener('click', function(){
        for(const member of members) {
        if (member.getAttribute('style') == 'display:block;') {
            member.removeAttribute('style','display:block;')
        } else {
            member.setAttribute('style','display:block;')
        }
     }
    })

    let classes = document.querySelectorAll('.class-number');
        first.addEventListener('click', function(){
        for(const class1 of classes) {
        if (class1.getAttribute('style') == 'display:block;') {
            class1.removeAttribute('style','display:block;')
        } else {
            class1.setAttribute('style','display:block;')
        }
     }
    })

    let c2 = document.querySelectorAll('.class-number2');
    let grade2 = document.getElementById('second');
    let members2 = document.querySelectorAll('.list2');
    c2 = Array.from(c2);

        second.addEventListener('click', function(){
        let members3 = Array.from(members2);
        for(const member3 of members3) {
        if (member3.getAttribute('style') == 'display:block;') {
            member3.removeAttribute('style','display:block;')
        } else {
            member3.setAttribute('style','display:block;')
        }
        }
    })


    let c3 = document.querySelectorAll('.class-number3');
    let grade3 = document.getElementById('third');
    let members4 = document.querySelectorAll('.list3');
    c2 = Array.from(c3);


        third.addEventListener('click', function(){
        let members5 = Array.from(members4);
        for(const member5 of members5) {
        if (member5.getAttribute('style') == 'display:block;') {
            member5.removeAttribute('style','display:block;')
        } else {
            member5.setAttribute('style','display:block;')
        }
        }
    })

</script>