<div class="side-bar-header">
  <div class="header-name2">
  <%=@user.name %>
    <div class="user-level2">
   <%@levelup = current_user.diary_ids.length + current_user.comment_ids.length + current_user.response_ids.length%>

    <%if @levelup >= 350%>
    <div>レベル30</div>
    <%elsif @levelup >= 335%>
    <div>レベル29</div>
    <%elsif @levelup >= 320%>
    <div>レベル28</div>    
    <%elsif @levelup >= 305%>
    <div>レベル27></div>
    <%elsif @levelup >= 290%>
    <div>レベル26></div>
    <%elsif @levelup >= 275%>
    <div>レベル25</div>
    <%elsif @levelup >= 260%>
    <div>レベル24</div>
    <%elsif @levelup >= 245%>
    <div>レベル23</div>
    <%elsif @levelup >= 230%>
    <div>レベル22</div>
    <%elsif @levelup >= 215%>
    <div>レベル21</div>    
    <%elsif @levelup >= 200%>
    <div>レベル20></div>
    <%elsif @levelup >= 187%>
    <div>レベル19</div>
    <%elsif @levelup >= 174%>
    <div>レベル18</div>
    <%elsif @levelup >= 161%>
    <div>レベル17</div>
    <%elsif @levelup >= 148%>
    <div>レベル16</div>
    <%elsif @levelup >= 135%>
    <div>レベル15</div>
    <%elsif @levelup >= 122%>
    <div>レベル14</div>
    <%elsif @levelup >= 109%>
    <div>レベル13</div>
    <%elsif @levelup >= 99%>
    <div>レベル12</div>   
    <%elsif @levelup >= 89%>
    <div>レベル11</div>  
    <%elsif @levelup >= 79%>
    <div>レベル10</div>  
    <%elsif @levelup >= 69%>
    <div>レベル9</div>  
    <%elsif @levelup >= 60%>
    <div>レベル8</div>  
    <%elsif @levelup >= 51%>
    <div>レベル7</div>  
    <%elsif @levelup >= 42%>
    <div>レベル6</div>  
    <%elsif @levelup >= 33%>
    <div>レベル5</div>  
    <%elsif @levelup >= 24%>
    <div>レベル4</div>  
    <%elsif @levelup >= 15%>
    <div>レベル3</div>   
    <%elsif @levelup >= 10%>
    <div>レベル2</div>   
    <%elsif @levelup  >= 5%>
    <div>レベル1</div>   
    <%elsif @levelup = 0%>
    <div>レベル0</div>   
    <%end%>
  </div>
  <div><%=@user.current_sign_in_at.strftime('%m/%d %H:%M:%S')%></div>
  </div>
  <div class="back-from-diary"><%=link_to "back",new_user_diary_path(@diary.user)  %></div>
</div>

<div class="rooms">
  <% @diaries.each do |diary| %>
    <div class="room2">
      <div class="room-name">
      <%=link_to new_diary_reply_path(diary) do %>
         <div class="diary-title2"><%=diary.title %></div>
         <div><%=diary.created_at.strftime('%m/%d %H:%M:%S') %></div>
         <% end %>
      </div>
    </div>
    <%end%>
  <div class="room-members">  

  </div>
</div>
