<div class="side-bar-header">
  <div class="header-name2">
  <%=@user.name %>
   <%= render "layouts/level" %>
  <div><%=l @user.current_sign_in_at></div>
  </div>
  <div class="back-from-diary"><%=link_to "back",new_user_diary_path(@diary.user)  %></div>
</div>

<div class="rooms">
  <% @diaries.each do |diary| %>
    <div class="room2">
      <div class="room-name">
      <%=link_to new_diary_reply_path(diary) do %>
         <div class="diary-title2"><%=diary.title %></div>
         <div><%=l diary.created_at%></div>
         <% end %>
      </div>
    </div>
    <%end%>
  <div class="room-members">  

  </div>
</div>
