<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>Create Account</h2>
      <h5>新規アカウントの作成</h5>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>
        <%= devise_error_messages!%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :名前%>
          </div>
          <div class='field-input'>
            <%= f.text_field :name, autofocus: true%>
          </div>
        </div>
        <div class='field'>
        <div class='field-label'>
            <%= f.label :メール%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :パスワード%>
            <i>(英数字6文字以上)</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "off"%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :パスワード（確認）%>
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "off"%>
          </div>
        </div>

      <div class="category">
        <div class='field'>
          <div class='field-label'>
          </div>
          <%= f.select :genre, [["生徒", "生徒"], ["教員", "教員"]], include_blank: "ユーザーを選択して下さい" %>
        </div>

        <div class='field'>
          <div class='field-label select-box'>
          </div>
          <%= f.select :grade, [["1年", 1], ["2年", 2], ["3年", 3], ["教員", 4]], include_blank: "学年を選択して下さい" %>
        </div>

        <div class='field'>
          <div class='field-label select-box'>
          </div>
          <%= f.select :class_number, [["1組", 1], ["2組", 2], ["3組", 3], ["4組", 4], ["5組", 5], ["6組", 6], ["教員", 7]], include_blank: "クラスを選択して下さい" %>
        </div>
       
        <div class='field'>
          <div class='field-label select-box'>
          </div>
         <%= f.select :student_number, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8], ["9", 9], ["10", 10], ["11", 11], ["12", 12], ["13", 13], ["14", 14], ["15", 15], ["16", 16], ["17", 17], ["18", 18], ["19", 19], ["20", 20], ["21", 21], ["22", 22], ["23", 23], ["24", 24], ["25", 25], ["26", 26], ["27", 27], ["28", 28], ["29", 29], ["30", 30], ["31", 31], ["32", 32], ["33", 33], ["34", 34], ["35", 35], ["36", 36], ["37", 37], ["38", 38], ["39", 39], ["40", 40], ["教員", 41 ]], include_blank: "番号を選択して下さい" %>
        </div>
      </div>
        <div class='actions'>
          <%= f.submit "Create Account", class: 'btn'%>
        </div>
        <div class="back-to-top3">
          <%= link_to "Back", root_path %>
        </div>
      </div>
    <% end %>
  </div>
</div>
