<div class="comment">
      <div class="comment-box">
      <%= form_with model: @comment,url:message_comments_path(@message),local: true do |f| %>
      <%= render 'layouts/error_messages2', model: f.object %>
        <%= f.text_area :text, placeholder: "質問する", class: "comment-text", id:"input" %>
        <%= hidden_field_tag :message_id,@message.id %>
      <p><span id="inputCounter">0</span></p>
      <p class="comment-warn">
        <p>他の生徒の質問で回答できる場合には積極的に回答してください！</p>
      </p>
      <br>
      <%= f.submit "質問する",class: "comment-btn"%>
      <div class="back-to-top2"><%=link_to '戻る', room_messages_path(@message.room) %></div>
     <% end %>
  </div>

<div class="comment-box2">
      <h4 class="comment-list">＜質問一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
        <div class="comment-content">
         <% if comment.user.genre == "教員" || comment.user.id == current_user.id %>
          <p>
            <div><%= link_to comment.user.name, new_user_diary_path(comment.user), class: "comment-nickname" %></div>
          </p>
         <% elsif current_user.genre == "教員" %> 
          <p>
            <div><%= link_to comment.user.name, new_user_diary_path(comment.user), class: "comment-nickname" %></div>
          </p>
          <% elsif current_user.genre == "生徒" %>
          <div class= "comment-nickname">匿名</div>
          <% end %>
          <div class="comment-texts">
            <%=link_to comment.text, new_comment_response_path(comment) %>
          </div>
          <div class="favorite-btn">
             <% if user_signed_in? && current_user.already_agreed?(comment) %>
              <%= button_to comment_agree_path(comment, comment.agrees), method: :delete do %>
              <div class="agree-btn-color">共感</div>
             <% end %>
             <% elsif user_signed_in? && current_user.id == comment.user_id%>
              <div class="agree-btn">共感</div>
             <% else %>
            <%= button_to comment_agrees_path(comment), method: :post do %>
             <div class="agree-btn">共感</div>
             <% end %>
             <% end %>
            <div class="agree-count"><%= comment.agrees.count%>人</div>
          </div>
          <div class="comment-time">
            <div class="time"><%= comment.created_at.to_s(:datetime_jp) %></div>
            <div class="time"><%= comment.created_at.to_s(:datetime_jp2) %></div>
          </div>
           <% if current_user.genre == "教員" %>
          <p>
            <%= button_to message_comment_path(@message.id, comment.id), method: :delete, class: "delete-button" do %>
            <i class="fas fa-trash"></i>
            <% end %>
          </p>
          <% elsif user_signed_in? && current_user.id == comment.user_id %>
          <p>
            <%= button_to message_comment_path(@message.id, comment.id), method: :delete, class: "delete-button" do %>
            <i class="fas fa-trash"></i>
            <% end %>
          </p>
          <% end %>
          <p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <script>
    var input = document.getElementById("input");
    var span = document.getElementById("inputCounter");
    input.addEventListener("keyup", function(){
      if (input.value.length > 75) {
        span.textContent = "投稿できません"
        span.style.color = 'red';
      }else{
        span.textContent = input.value.length;
      }   
    });
  </script>
