<h1>タスク編集</h1>
<%= form_with model: [@room, @task],url:room_task_path(@room, @task), local: true do |f| %>
  <div><%= f.label :タイトル %></div>
  <div><%= f.text_field :title %></div>
  <div><%= f.label :内容 %></div>
  <div><%= f.text_field :task_content %></div>
  <div><%= f.label :締め切り %></div>
  <div><%= f.datetime_field :deadline %></div>
  <div class="buttons">
    <div class="update"><%= f.submit value="更新" %></div>
    <div class="back3"><%= link_to '戻る',new_room_task_path(@room)%></div>
  </div>
<% end %>