<h1>新規タスク</h1>
<%= form_with model: [@room,@task], url:room_tasks_path(@room), local: true do |f| %>
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title %></div>
  <div><%= f.submit %></div>
<% end %>
<%= link_to '戻る', room_tasks_path(@room) %>