<%if @exams_first_mid.present? || @exams_first_end.present?%>
<div class="term-number1">１学期</div>

<div class="term">
<%if @exams_first_mid.present?%>

  <div class="exam-wrapper">
    <div class="term-name">中間考査</div>

    <div class="subjects">
    <% @exams_first_mid.each do |exam_first_mid| %>
        <%if exam_first_mid.user == current_user && current_user.grade == 2 && current_user.grade == exam_first_mid.grade_num%>
          <div class="exam-content">
          <%if exam_first_mid.subject ==1%>
            <div class="subject">国語</div>
          <%elsif exam_first_mid.subject ==2%>
            <div class="subject">数学</div>
          <%elsif exam_first_mid.subject ==3%>
            <div class="subject">理科</div>
          <%elsif exam_first_mid.subject ==4%>
            <div class="subject">社会</div>
          <%elsif exam_first_mid.subject ==5%>
            <div class="subject">英語</div>
          <%end%>
            <div class="score">
            <%if exam_first_mid.subject ==1%>
            <%=button_to exam_first_mid.score,user_exam_path(current_user.id, exam_first_mid.id), method: :delete, class:"delete" %>
                <p>
                  <%=Exam.where(term:"１学期中間").where(subject:1).where(grade_num: 2).pluck(:score).sum / Exam.where(term:"１学期中間").where(subject:1).where(grade_num: 2).length %>
                </p>
            <%elsif exam_first_mid.subject ==2%>
            <%=button_to exam_first_mid.score,user_exam_path(current_user.id, exam_first_mid.id), method: :delete, class:"delete" %>
                <p>
                  <%=Exam.where(term:"１学期中間").where(subject:2).where(grade_num: 2).pluck(:score).sum / Exam.where(term:"１学期中間").where(subject:2).where(grade_num: 2).length %>
                </p>
            <%elsif exam_first_mid.subject ==3%>
            <%=button_to exam_first_mid.score,user_exam_path(current_user.id, exam_first_mid.id), method: :delete, class:"delete" %>
                <p>
                  <%=Exam.where(term:"１学期中間").where(subject:3).where(grade_num: 2).pluck(:score).sum / Exam.where(term:"１学期中間").where(subject:3).where(grade_num: 2).length %>
                </p>
            <%elsif exam_first_mid.subject ==4%>
            <%=button_to exam_first_mid.score,user_exam_path(current_user.id, exam_first_mid.id), method: :delete, class:"delete" %>
                <p>
                  <%=Exam.where(term:"１学期中間").where(subject:4).where(grade_num: 2).pluck(:score).sum / Exam.where(term:"１学期中間").where(subject:4).where(grade_num: 2).length %>
                </p>
            <%elsif exam_first_mid.subject ==5%>
            <%=button_to exam_first_mid.score,user_exam_path(current_user.id, exam_first_mid.id), method: :delete, class:"delete" %>
                <p>
                  <%=Exam.where(term:"１学期中間").where(subject:5).where(grade_num: 2).pluck(:score).sum / Exam.where(term:"１学期中間").where(subject:5).where(grade_num: 2).length %>
                </p>
            <%end%>
            </div>
          </div>
        <%end%>
    <%end%>
    </div>
  </div>
<%end%>
<%end%>