<div class="chat-header2">
<div class="diary-title">学習<span class="small-no">の</span>記録</div>
  <div class="left-header">
    <div class="header-title">
      <%# <%= @room.name %>
    </div>
  </div>

  <div class="right-header">
    <div class="header-button">
    </div>
  </div>
</div>
<div class="messages1">
<div class="rule-check">記述のルール</div>
    <ul>
      <li>①学習の記録を<span>毎日</span>記述すること。</li>
      <li>②<span>100文字</span>以上で記述すること。</li>
    </ul>
   <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@user,@diary],class: 'form2', local: true do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <div class="form-input">
      <div class="study-title"><%= f.text_area :title,class: 'form-message4', placeholder: 'タイトル' %></div>
      <div class="studies">
        <div class="study-hour"><%= f.select :study_content, [["学習内容",nil],["単語", "単語"],["文法", "文法"], ["スピーキング", "スピーキング"], ["ライティング", "ライティング"], ["リスニング", "リスニング"]]%></div>
        <div class="study-content"><%= f.select :study_time, [["学習時間",nil],["０分", 0],["１０分", 10],["２０分", 20],["３０分", 30],["４０分", 40],["５０分", 50],["６０分", 60],["８０分", 70],["８０分", 80],["９０分", 90],["１００分", 100],["１２０分", 120],["１３０分", 130],["１４０分", 140],["１５０分", 150]] %></div>
      </div>
      <div><%= f.text_area :writing,class: 'form-message2', placeholder: '学習の記録' %></div>
  </div>
  <%= f.submit '送信', class: 'form-submit2' %>
<% end %>