<div class="chat-header2">
<div class="diary-title">学習<span class="small-no">の</span>記録</div>
  <div class="left-header">
    <div class="header-title">
    </div>
  </div>

  <div class="right-header">
    <div class="header-button">
    </div>
  </div>
</div>
<div class="messages1">


<%# -----------------学習時間合計値（開始）----------------- %>
<%@array_word = []%>
<%@diaries.each do |diary|%>
<%if diary.study_content == "単語"%>
    <%@sum_word = diary.study_time%>
    <%@array_word << @sum_word%>
<%else%>
    <%@sum_word = 0%>
    <%@array_word << @sum_word%>
<%end%>
<%end%>


<%@array_grammar = []%>
<%@diaries.each do |diary|%>
<%if diary.study_content == "文法"%>
    <%@sum_grammar = diary.study_time%>
    <%@array_grammar << @sum_grammar%>
<%else%>
    <%@sum_grammar = 0%>
    <%@array_grammar << @sum_grammar%>
<%end%>
<%end%>


<%@array_speaking = []%>
<%@diaries.each do |diary|%>
<%if diary.study_content == "スピーキング"%>
    <%@sum_speaking = diary.study_time%>
    <%@array_speaking << @sum_speaking%>
<%else%>
    <%@sum_speaking = 0%>
    <%@array_speaking << @sum_speaking%>
<%end%>
<%end%>


<%@array_writing = []%>
<%@diaries.each do |diary|%>
<%if diary.study_content == "ライティング"%>
    <%@sum_writing = diary.study_time%>
    <%@array_writing << @sum_writing%>
<%else%>
    <%@sum_writing = 0%>
    <%@array_writing << @sum_writing%>
<%end%>
<%end%>


<%@array_listening = []%>
<%@diaries.each do |diary|%>
<%if diary.study_content == "リスニング"%>
    <%@sum_listening = diary.study_time%>
    <%@array_listening << @sum_listening%>
<%else%>
    <%@sum_listening = 0%>
    <%@array_listening << @sum_listening%>
<%end%>
<%end%>


<%@array_reading = []%>
<%@diaries.each do |diary|%>
<%if diary.study_content == "リーディング"%>
    <%@sum_reading = diary.study_time%>
    <%@array_reading << @sum_reading%>
<%else%>
    <%@sum_reading = 0%>
    <%@array_reading << @sum_reading%>
<%end%>
<%end%>

<%# -----------------学習時間合計値（終了）----------------- %>

<% total = @array_word.sum + @array_reading.sum + @array_speaking.sum + @array_grammar.sum + @array_listening.sum + @array_writing.sum%>
<%if total > 32999%>
<i></i>
<%elsif total > 30000%>
<i class="fas fa-running d100"></i>
<%elsif total > 27000%>
<i class="fas fa-running d90"></i>
<%elsif total > 24000%>
<i class="fas fa-running d80"></i>
<%elsif total > 21000%>
<i class="fas fa-running d70"></i>
<%elsif total > 18000%>
<i class="fas fa-running d60"></i>
<%elsif total > 15000%>
<i class="fas fa-running d50"></i>
<%elsif total > 12000%>
<i class="fas fa-running d40"></i>
<%elsif total > 9000%>
<i class="fas fa-running d30"></i>
<%elsif total > 6000%>
<i class="fas fa-running d20"></i>
<%elsif total > 3000%>
<i class="fas fa-running d10"></i>
<%elsif total >= 0%>
<i class="fas fa-running d0"></i>
<%end%>


  <div class="roads">
    <div class="start">start</div>
    <div class="road">50時間</div>
    <%# 10個目 3000分 %>
    <div class="road">100時間</div>
    <%# 20個目 6000分 %>
    <div class="road">150時間</div>
    <%# 30個目 9000分 %>
    <div class="road">200時間</div>
    <%# 40個目 12,000分 %>
    <div class="road">250時間</div>
    <%# 50個目 15,000分 %>
    <div class="road">300時間</div>
    <%# 60個目 18,000分 %>
    <div class="road">350時間</div>
    <%# 70個目 21,000分 %>
    <div class="road">400時間</div>
    <%# 80個目 24,000分 %>
    <div class="road">450時間</div>
    <%# 90個目 27,000分 %>
    <div class="road">500時間</div>
    <%# 100個目 30,000分 %>
  </div>

<%if total > 62999%>
<i></i>
<%elsif total > 60000%>
<i class="fas fa-running d200"></i>
<%elsif total > 57000%>
<i class="fas fa-running d190"></i>
<%elsif total > 54000%>
<i class="fas fa-running d180"></i>
<%elsif total > 51000%>
<i class="fas fa-running d170"></i>
<%elsif total > 48000%>
<i class="fas fa-running d160"></i>
<%elsif total > 45000%>
<i class="fas fa-running d150"></i>
<%elsif total > 42000%>
<i class="fas fa-running d140"></i>
<%elsif total > 39000%>
<i class="fas fa-running d130"></i>
<%elsif total > 36000%>
<i class="fas fa-running d120"></i>
<%elsif total > 33000%>
<i class="fas fa-running d110"></i>
<%elsif total > 30000%>
<i class="fas fa-running d00"></i>
<%end%>

  <div class="roads">
    <div class="road"></div>
    <div class="road">550時間</div>
    <%# 10個目 3000分 %>
    <div class="road">600時間</div>
    <%# 20個目 6000分 %>
    <div class="road">650時間</div>
    <%# 30個目 9000分 %>
    <div class="road">700時間</div>
    <%# 40個目 12,000分 %>
    <div class="road">750時間</div>
    <%# 50個目 15,000分 %>
    <div class="road">800時間</div>
    <%# 60個目 18,000分 %>
    <div class="road">850時間</div>
    <%# 70個目 21,000分 %>
    <div class="road">900時間</div>
    <%# 80個目 24,000分 %>
    <div class="road">950時間</div>
    <%# 90個目 27,000分 %>
    <div class="road">1,000時間</div>
    <%# 100個目 30,000分 %>
  </div>


<%if total > 92999%>
<i></i>
<%elsif total > 90000%>
<i class="fas fa-running d300"></i>
<%elsif total > 87000%>
<i class="fas fa-running d290"></i>
<%elsif total > 84000%>
<i class="fas fa-running d280"></i>
<%elsif total > 81000%>
<i class="fas fa-running d270"></i>
<%elsif total > 78000%>
<i class="fas fa-running d260"></i>
<%elsif total > 75000%>
<i class="fas fa-running d250"></i>
<%elsif total > 72000%>
<i class="fas fa-running d240"></i>
<%elsif total > 69000%>
<i class="fas fa-running d230"></i>
<%elsif total > 66000%>
<i class="fas fa-running d220"></i>
<%elsif total > 63000%>
<i class="fas fa-running d210"></i>
<%elsif total > 60000%>
<i class="fas fa-running d00"></i>
<%end%>


  <div class="roads">
    <div class="road"></div>
    <div class="road">1,050時間</div>
    <%# 10個目 3000分 %>
    <div class="road">1,100時間</div>
    <%# 20個目 6000分 %>
    <div class="road">1,150時間</div>
    <%# 30個目 9000分 %>
    <div class="road">1,200時間</div>
    <%# 40個目 12,000分 %>
    <div class="road">1,250時間</div>
    <%# 50個目 15,000分 %>
    <div class="road">1,300時間</div>
    <%# 60個目 18,000分 %>
    <div class="road">1,350時間</div>
    <%# 70個目 21,000分 %>
    <div class="road">1,400時間</div>
    <%# 80個目 24,000分 %>
    <div class="road">1,450時間</div>
    <%# 90個目 27,000分 %>
    <div class="road">1,500時間</div>
    <%# 100個目 30,000分 %>
  </div>

<%if total > 129999%>
<i class="fas fa-running d400"></i>
<%elsif total > 120000%>
<i class="fas fa-running d400"></i>
<%elsif total > 117000%>
<i class="fas fa-running d390"></i>
<%elsif total > 114000%>
<i class="fas fa-running d380"></i>
<%elsif total > 111000%>
<i class="fas fa-running d370"></i>
<%elsif total > 108000%>
<i class="fas fa-running d360"></i>
<%elsif total > 105000%>
<i class="fas fa-running d350"></i>
<%elsif total > 102000%>
<i class="fas fa-running d340"></i>
<%elsif total > 99000%>
<i class="fas fa-running d330"></i>
<%elsif total > 96000%>
<i class="fas fa-running d320"></i>
<%elsif total > 93000%>
<i class="fas fa-running d310"></i>
<%elsif total > 90000%>
<i class="fas fa-running d00"></i>
<%end%>

  <div class="roads">
    <div class="road"></div>
    <div class="road">1,550時間</div>
    <%# 10個目 3000分 %>
    <div class="road">1,600時間</div>
    <%# 20個目 6000分 %>
    <div class="road">1,650時間</div>
    <%# 30個目 9000分 %>
    <div class="road">1,700時間</div>
    <%# 40個目 12,000分 %>
    <div class="road">1,750時間</div>
    <%# 50個目 15,000分 %>
    <div class="road">18,00時間</div>
    <%# 60個目 18,000分 %>
    <div class="road">18,50時間</div>
    <%# 70個目 21,000分 %>
    <div class="road">1,900時間</div>
    <%# 80個目 24,000分 %>
    <div class="road">1,950時間</div>
    <%# 90個目 27,000分 %>
    <div class="goal">goal</div>
    <%# 100個目 30,000分 %>
  </div>



   <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@user,@diary],class: 'form2', local: true do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <div class="form-input">
      <div class="study-title"><%= f.text_area :title,class: 'form-message4', placeholder: 'title' %></div>
      <div class="studies">
        <div class="study-hour"><%= f.select :study_content, [["content",nil],["vocabulary", "単語"],["grammar", "文法"], ["speaking", "スピーキング"], ["writing", "ライティング"], ["listening", "リスニング"],["reading","リーディング"]]%></div>
        <div class="study-content"><%= f.select :study_time, [["study hours",nil],["１０分", 10],["２０分", 20],["３０分", 30],["４０分", 40],["５０分", 50],["６０分", 60],["７０分", 70],["８０分", 80],["９０分", 90],["１００分", 100],["１２０分", 120],["１３０分", 130],["１４０分", 140],["１５０分", 150]] %></div>
      </div>
      <div><%= f.text_area :writing,class: 'form-message2', placeholder: 'diary' %></div>
  </div>
  <%= f.submit '送信', class: 'form-submit2' %>
<% end %>