<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= @diary.user.name %>
    </div>
    <div class="message-date">
      <%=  l @diary.created_at %>
    </div>
    <div class="message-date">

    </div>
    <div>
    <% if current_user.genre == "教員" %>
      <p>
        <%= button_to room_message_path(@room.id, message.id) ,method: :delete, class: "delete-button" do %>
        <i class="fas fa-trash"></i>
        <% end %>
      </p>
      <% elsif user_signed_in? && current_user.id == message.user_id %>
      <p>
        <%= button_to room_message_path(@user.id, @diary.id), method: :delete, class: "delete-button" do %>
        <i class="fas fa-trash"></i>
        <% end %>
      </p>
    <% end %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content2">
      <%=link_to @diary.writing, new_message_comment_path(@diary) %>
    </div>
     <%= link_to  new_message_comment_path(@diary) do %>
     <%end%>
  </div>
</div>