<div class="side-bar-header">
  <div class="header-name2">
  <%=@user.name%>
  <%= render "layouts/level" %>
  <%# <div><%=l @user.Date</div> %>
  </div>
  <div>
 <%# <%=link_to "時間", diary_path(@user.diary_ids)%>
  <div class="back-from-diary"><%=link_to "back", root_path %></div>
  </div>
</div>

<div class="rooms">
  <% @diaries.each do |diary| %>
    <div class="room2">
      <div class="room-name">
      <%=link_to new_diary_reply_path(diary) do %>
         <div class="diary-title2"><%=diary.title %></div>
         <% end %>
      </div>
    </div>
    <%end%>
  <div class="room-members">  

  </div>
</div>
