<div class='wrapper'>
  <div class='side-bar'>
    <%= render "messages/side_bar2" %>
  </div>
  <div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%=link_to "生徒一覧",messages_list_path, class:"qs1" %>
      <%=link_to "クイズ",tips_questions_path, class:"qs3" %>
      <%# <%=link_to "勉強時間",tips_hours_path, class:"qs4" %>
      <%=link_to "考査",new_user_exam_path(current_user), class:"qs5" %>
      <%# <%=link_to "レベル",messages_levelup_path, class:"qs3" %>


    </div>
  </div>
  <div class="right-header">

  </div>
</div>
</div>
