<div class='chat-room-form'>
  <h1 class="new-chat-room">新規チャットルーム</h1>
  <%=form_with model: @room, local: true do |f|%>
    <%= hidden_field_tag :id,@room.id %>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :チャットルーム名, class: 'chat-room-form__label'%>
      </div>
   
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'チャットルーム名を入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>チャットメンバー</label>
      </div>
      <div class='chat-room-form__field--right'>
              <span class="class-num1">１−１</span><%= f.collection_check_boxes :user_ids, User.where(grade:1, class_number:1).all.order("student_number ASC"), :id, :name %>
              <span class="class-num1">１−２</span><%= f.collection_check_boxes :user_ids, User.where(grade:1, class_number:2).all.order("student_number ASC"), :id, :name %>
              <span class="class-num1">１−３</span><%= f.collection_check_boxes :user_ids, User.where(grade:1, class_number:3).all.order("student_number ASC"), :id, :name %>
              <span class="class-num1">１−４</span> <%= f.collection_check_boxes :user_ids, User.where(grade:1, class_number:4).all.order("student_number ASC"), :id, :name %>
              <span class="class-num1">１−５</span> <%= f.collection_check_boxes :user_ids, User.where(grade:1, class_number:5).all.order("student_number ASC"), :id, :name %>
              <span class="class-num1">１−６</span> <%= f.collection_check_boxes :user_ids, User.where(grade:1, class_number:6).all.order("student_number ASC"), :id, :name %>
              <span class="class-num2">２−１</span> <%= f.collection_check_boxes :user_ids, User.where(grade:2, class_number:1).all.order("student_number ASC"), :id, :name %>
              <span class="class-num2">２−２</span> <%= f.collection_check_boxes :user_ids, User.where(grade:2, class_number:2).all.order("student_number ASC"), :id, :name %>
              <span class="class-num2">２−３</span> <%= f.collection_check_boxes :user_ids, User.where(grade:2, class_number:3).all.order("student_number ASC"), :id, :name %>
              <span class="class-num2">２−４</span> <%= f.collection_check_boxes :user_ids, User.where(grade:2, class_number:4).all.order("student_number ASC"), :id, :name %>
              <span class="class-num2">２−５</span> <%= f.collection_check_boxes :user_ids, User.where(grade:2, class_number:5).all.order("student_number ASC"), :id, :name %>
              <span class="class-num2">２−６</span> <%= f.collection_check_boxes :user_ids, User.where(grade:2, class_number:6).all.order("student_number ASC"), :id, :name %>
              <span class="class-num3">３−１</span> <%= f.collection_check_boxes :user_ids, User.where(grade:3, class_number:1).all.order("student_number ASC"), :id, :name %>
              <span class="class-num3">３−２</span> <%= f.collection_check_boxes :user_ids, User.where(grade:3, class_number:2).all.order("student_number ASC"), :id, :name %>
              <span class="class-num3">３−３</span> <%= f.collection_check_boxes :user_ids, User.where(grade:3, class_number:3).all.order("student_number ASC"), :id, :name %>
              <span class="class-num3">３−４</span> <%= f.collection_check_boxes :user_ids, User.where(grade:3, class_number:4).all.order("student_number ASC"), :id, :name %>
              <span class="class-num3">３−５</span> <%= f.collection_check_boxes :user_ids, User.where(grade:3, class_number:5).all.order("student_number ASC"), :id, :name %>
              <span class="class-num3">３−６</span> <%= f.collection_check_boxes :user_ids, User.where(grade:3, class_number:6).all.order("student_number ASC"), :id, :name %>
          </div>

        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>

