<div class="room-name2">
<%=link_to @room.name, room_messages_path(@room), class:"room-name3"%>
</div>
<%@users.each do |user| %>
<%if user.genre == "生徒"%>
<div class="students-in-room">
    <div class="stu-num"><%=user.student_number%>番</div>　　
    <% @d_path = link_to user.name,new_user_diary_path(user)%>
    <%if user.name.length == 1%>
    <div class="stu-name0"><%=@d_path%></div>　　
    <%elsif user.name.length == 2%>
    <div class="stu-name"><%=@d_path%></div>　　
    <%elsif user.name.length == 3%>
    <div class="stu-name1"><%=@d_path%></div>　　
    <% elsif user.name.length == 4%>
    <div class="stu-name2"><%=@d_path%></div>　　　
    <% elsif user.name.length == 5%>
    <div class="stu-name3"><%=@d_path%></div>　　　
    <% elsif user.name.length == 6%>
    <div class="stu-name4"><%=@d_path%></div>　　　
   <% end %>
    <div><%=user.current_sign_in_at.strftime('%m/%d %H:%M') %></div>
    <% @login = user.current_sign_in_at if user.current_sign_in_at%>
    <%if @login < Date.current.ago(5.days || 6.days || 7.days)%>
    <div class="login-day">　　５日間以上未ログイン</div>
    <%elsif @login < Date.current.ago(4.days)%>
    <div class="login-day">　　５日前にログインしました</div>
    <%elsif @login < Date.current.ago(3.days)%>
    <div class="login-day">　　４日前にログインしました</div>
    <%elsif @login < Date.current.ago(2.days)%>
    <div class="login-day">　　３日前にログインしました</div>
    <%elsif @login < Date.current.ago(1.day)%>
    <div class="login-day">　　２日前にログインしました</div>
    <% end %>
</div>
<% end %>
<% end %>