
<%if @exams_third.present? || @exams_third.present?%>
<div class="term-number2">３学期</div>

<div class="term">
<%if @exams_third.present?%>

  <div class="exam-wrapper">
    <div class="term-name3">学年末</div>

    <div class="subjects">
    <% @exams_third.each do |exam_third| %>
        <%if exam_third.user == current_user && current_user.grade == 3 %>
          <div class="exam-content">
          <%if exam_third.subject ==1%>
            <div class="subject">国語</div>
          <%elsif exam_third.subject ==2%>
            <div class="subject">数学</div>
          <%elsif exam_third.subject ==3%>
            <div class="subject">理科</div>
          <%elsif exam_third.subject ==4%>
            <div class="subject">社会</div>
          <%elsif exam_third.subject ==5%>
            <div class="subject">英語</div>
          <%end%>
            <div class="score">
            <%if exam_third.subject ==1%>
              <%=exam_third.score%>
                <p>
                  <%=Exam.where(term:"学年末").where(subject:1).where(grade_num: 1).pluck(:score).sum / Exam.where(term:"学年末").where(subject:1).where(grade_num: 2).length %>
                </p>
            <%elsif exam_third.subject ==2%>
              <%=exam_third.score%>
                <p>
                  <%=Exam.where(term:"学年末").where(subject:2).where(grade_num: 1).pluck(:score).sum / Exam.where(term:"学年末").where(subject:2).where(grade_num: 2).length %>
                </p>
            <%elsif exam_third.subject ==3%>
              <%=exam_third.score%>
                <p>
                  <%=Exam.where(term:"学年末").where(subject:3).where(grade_num: 1).pluck(:score).sum / Exam.where(term:"学年末").where(subject:3).where(grade_num: 2).length %>
                </p>
            <%elsif exam_third.subject ==4%>
              <%=exam_third.score%>
                <p>
                  <%=Exam.where(term:"学年末").where(subject:4).where(grade_num: 1).pluck(:score).sum / Exam.where(term:"学年末").where(subject:4).where(grade_num: 2).length %>
                </p>
            <%elsif exam_third.subject ==5%>
              <%=exam_third.score%>
                <p>
                  <%=Exam.where(term:"学年末").where(subject:5).where(grade_num: 1).pluck(:score).sum / Exam.where(term:"学年末").where(subject:5).where(grade_num: 2).length %>
                </p>
            <%end%>
            </div>
          </div>
        <%end%>
    <%end%>
    </div>
  </div>
<%end%>
<%end%>