<h1 class="pop-comments">みんなの疑問</h1>
<div class='comment-contents'>
<ul class='comment-lists'>
<% num = 0 %>
 <% @comments.each do |comment| %>
 <% if comment.agrees.ids.count >= 3 %>
      <li class='list items2'>
      <div class="comment-text-content">
        <div class="comment-texts-num"><%= num += 1%>位：</div>
        <div class="comment-texts-message">「 <%=comment.message.content%> 」</div>
        <div class="comment-texts-room">( <%=comment.message.room.name %> ) 【 <%= comment.agrees.count%>人の疑問 】</div>
      </div>
      <div class="comment-texts2"><%=link_to comment.text, new_message_comment_path(comment.message.id) %></div>
        <%end%>
        <%end%>
  </li>
 </ul>
</div>
<br>
<div><%= link_to 'back', root_path, class: "move-to-top"%></div>
