<%= form_with model: [@user,@exam],class: 'form4', local: true do |f| %>
  <div class="input-info">
      <div class="input-content"><%= f.select :grade_num, [["grade",nil],["１年", 1],["２年", 2],["３年", 3]] %></div>
    <div class="input-content"><%= f.select :term, [["term",nil],["１学期ー中間", "１学期中間"],["１学期ー期末", "１学期期末"], ["２学期ー中間", "２学期中間"], ["２学期ー期末", "２学期期末"],["学年末", "学年末"]]%></div>
    <div class="input-content"><%= f.select :subject, [["subject",nil],["国語", 1],["数学", 2],["理科", 3],["社会", 4],["英語", 5]] %></div>
    <div><%= f.text_field :score,class: 'input-score',placeholder:" score"%></div>
    <div class="input-content"><%= f.text_field :considering,class: 'input-text', placeholder: 'text' %></div>
    <div><%= f.submit '送信', class: 'input-submit' %></div>
  </div>
  <%= render 'layouts/error_messages3', model: f.object %>
<% end %>

<%=render '1first_mid'%>
<%=render '1first_end'%>
<%=render '1second_mid'%>
<%=render '1second_end'%>
<%=render '1third' %>
