<%= form_with model: [@user,@exam],class: 'form4', local: true do |f| %>
  <div class="input-info">
    <div class="input-content"><%= f.select :term, [["term",nil],["１学期ー中間", "１学期中間"],["１学期ー期末", "１学期期末"], ["２学期ー中間", "２学期ー中間"], ["２学期ー期末", "２学期ー期末"],["学年末", "学年末"]]%></div>
    <div class="input-content"><%= f.select :subject, [["subject",nil],["国語", "国語"],["数学", "数学"],["理科", "理科"],["社会", "社会"],["英語", "英語"]] %></div>
    <div><%= f.text_field :score,class: 'input-score',placeholder:" score"%></div>
    <div class="input-content"><%= f.text_area :considering,class: 'input-text', placeholder: 'text' %></div>
    <div><%= f.submit '送信', class: 'input-submit' %></div>
  </div>
  <%= render 'layouts/error_messages3', model: f.object %>
<% end %>


<div class="space">aa</div>

<%if @exams_first_mid.present? || @exams_first_end.present?%>
<div class="term-number">１学期</div>

<div class="term">
<%if @exams_first_mid.present?%>

  <div class="exam-wrapper">
    <div class="term-name">中間考査</div>

    <div class="subjects">
    <% @exams_first_mid.each do |exam_first_mid| %>
        <%if exam_first_mid.user == current_user %>
          <div class="exam-content">
            <div class="subject"><%=exam_first_mid.subject%></div>
            <div class="score"><%=exam_first_mid.score%></div>
          </div>
        <%end%>
    <%end%>
    </div>
  </div>
<%end%>

<%end%>



