<div class="exam-top">
  <div class="exam-result"><%=link_to current_user.name, new_user_diary_path(current_user)%><span>さんの考査結果</span></div>
  <%if @user.exams.present?%>
  <div class="exam-result-back2"><%=link_to "反省", user_exam_path(@user.id, @user.exams.ids) %></div>
  <%end%>
  <div class="exam-result-back"><%=link_to "戻る", root_path %></div>
</div>
<%= form_with model: [@user,@exam],class: 'form4', local: true do |f| %>
  <div class="input-info">

  <%if current_user.grade == 1%>
    <div class="input-content"><%= f.select :grade_num, [["１年", 1]] %></div>
  <%elsif current_user.grade == 2%>
    <div class="input-content"><%= f.select :grade_num, [["２年", 2]] %></div>
  <%elsif current_user.grade == 3%>
    <div class="input-content"><%= f.select :grade_num, [["３年", 3]] %></div>
  <%end%>

    <div class="input-content"><%= f.select :term, [["term",nil],["１学期ー中間", "１学期中間"],["１学期ー期末", "１学期期末"], ["２学期ー中間", "２学期中間"], ["２学期ー期末", "２学期期末"],["学年末", "学年末"]]%></div>
    <div class="input-content"><%= f.select :subject, [["subject",nil],["国語", 1],["数学", 2],["理科", 3],["社会", 4],["英語", 5]] %></div>
    <div><%= f.text_field :score,class: 'input-score',placeholder:" score"%></div>
    <div class="input-content"><%= f.text_field :considering,class: 'input-text', placeholder: 'text', id:"input" %><span id="inputCounter" class="counter">0</span></div>
    <%= f.submit '送信', class: 'input-submit' %>
  </div>
  <%= render 'layouts/error_messages3', model: f.object %>
<% end %>
<%if current_user.grade == 1%>
<%=render 'first_grade_exams/1first_mid'%>
<%=render 'first_grade_exams/1first_end'%>
<%=render 'first_grade_exams/1second_mid'%>
<%=render 'first_grade_exams/1second_end'%>
<%=render 'first_grade_exams/1third' %>

<%elsif current_user.grade == 2%>
<%=render 'second_grade_exams/1first_mid'%>
<%=render 'second_grade_exams/1first_end'%>
<%=render 'second_grade_exams/1second_mid'%>
<%=render 'second_grade_exams/1second_end'%>
<%=render 'second_grade_exams/1third' %>

<%elsif current_user.grade == 3%>
<%=render 'third_grade_exams/1first_mid'%>
<%=render 'third_grade_exams/1first_end'%>
<%=render 'third_grade_exams/1second_mid'%>
<%=render 'third_grade_exams/1second_end'%>
<%=render 'third_grade_exams/1third' %>
<%end%>

  <script>
    var input = document.getElementById("input");
    var span = document.getElementById("inputCounter");
    input.addEventListener("keyup", function(){
      if (input.value.length > 40) {
        span.textContent = "投稿できません"
        span.style.color = 'red';
      }else{
        span.textContent = input.value.length;
        span.style.color = 'black';
      }   
    });
  </script>